.MainVideo {
    cursor: pointer;
    flex-shrink: 0;
    height: 240px;
    transition: transform 100ms;
    user-select: none;
    width: 280px;
}

.MainVideo:hover {
    box-shadow: 0 16px 6px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1) translateY(-4px);
}

.MainVideo:active {
    transform: scale(1.05);
}

.MainVideo img {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.MainVideo h4 {
    -webkit-box-orient: vertical;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.2em;
    margin: 12px 14px 0;
    overflow: hidden;
}

.MainVideo span {
    color: #999;
    font-size: 14px;
    margin-left: 14px;
}
