.MainVideo {
    cursor: pointer;
    flex-shrink: 0;
    height: 120px;
    transition: transform 100ms;
    user-select: none;
    width: 140px;
}

.MainVideo:hover {
    box-shadow: 0 16px 6px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1) translateY(-4px);
}

.MainVideo:active {
    transform: scale(1.05);
}

.MainVideo img {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.MainVideo h4 {
    -webkit-box-orient: vertical;
    color: #000;
    display: -webkit-box;
    font-size: 11px;
    -webkit-line-clamp: 1;
    line-height: 1.2em;
    margin: 8px 10px 0;
    overflow: hidden;
}

.MainVideo span {
    color: #999;
    display: block;
    font-size: 11px;
    margin-left: 10px;
}

@media only screen and (min-width: 768px) {
    .MainVideo {
        height: 240px;
        width: 280px;
    }

    .MainVideo h4 {
        font-size: 16px;
        -webkit-line-clamp: 2;
        margin: 12px 14px 0;
    }

    .MainVideo span {
        font-size: 14px;
        margin-top: 3px;
        margin-left: 14px;
    }
}
