.NavShortcuts {
    display: flex;
    flex-direction: column;
    height: 0;
    margin-left: -10px;
    margin-right: -30px;
    overflow: hidden;
    padding: 10px 10px 20px;
    position: fixed;
    transition: height 100ms;
    top: 90px;
    left: 20px;
}

.NavShortcuts--Active {
    height: 110px;
}

.NavShortcuts button {
    padding: 8px 16px 8px 8px;
    text-align: left;
    transition: transform 200ms;
}

.NavShortcuts button:hover {
    transform: translateX(-6px);
}

.NavShortcuts .NavShortcuts__Back i {
    margin-right: 20px;
}

@media only screen and (min-width: 768px) {
    .NavShortcuts {
        position: static;
    }

    .NavShortcuts button {
        padding: 20px;
    }
}
