.NavView {
    bottom: var(--app-area-padding);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    left: var(--app-area-padding);
    padding: 20px 30px;
    padding-right: 0;
    position: fixed;
    top: var(--app-area-padding);
    width: var(--side-nav-width);
    z-index: 10;
}

.NavView h1 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 0;
}

.NavView ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
