.NavChannelsItem {
    cursor: pointer;
    display: flex;
}

.NavChannelsItem.NavChannelsItem--Active {
    border-right: 10px solid var(--primary-color);
}

.NavChannelsItem + .NavChannelsItem {
    margin-top: 20px;
}

.NavChannelsItem img {
    border-radius: 10px;
    height: 36px;
    margin-right: 10px;
    transition: margin-right 100ms;
}

.NavChannelsItem:hover img {
    margin-right: 20px;
}

.NavChannelsItem span {
    line-height: 36px;
}
