.MainChannel {
    min-height: 300px;
}

.MainChannel header {
    display: flex;
    gap: 20px;
    padding-right: var(--app-area-padding);
    margin-bottom: var(--app-area-padding);
    margin-left: var(--side-area-width);
}

.MainChannel header .MainChannelHeader__Head {
    flex-basis: 54px;
}

.MainChannel header .MainChannelHeader__Body {
    flex-grow: 1;
}

.MainChannel header .MainChannelHeader__Tail {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MainChannel header .MainChannelHeader__Tail__Subscribers,
.MainChannel header .MainChannelHeader__Tail__Videos {
    line-height: 1em;
}

.MainChannel header .MainChannelHeader__Tail__Subscribers > span:last-of-type,
.MainChannel header .MainChannelHeader__Tail__Videos > span:last-of-type {
    font-size: 24px;
    margin-left: 10px;
}

.MainChannel header h3 {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}

.MainChannel .MainChannel__Carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--app-area-padding);
    padding-right: var(--app-area-padding);
    overflow-x: auto;
    padding-bottom: 30px;
    padding-left: var(--side-area-width);
    scrollbar-width: none;
    margin-top: -20px;
    padding-top: 20px;
}
