.MainChannel {
    min-height: 200px;
}

.MainChannel header {
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-right: var(--app-area-padding);
    margin-bottom: var(--app-area-padding);
    margin-left: var(--app-area-padding);
}

.MainChannel header .MainChannelHeader__Head {
    flex-basis: 36px;
}

.MainChannel header .MainChannelHeader__Body {
    flex-grow: 1;
}

.MainChannel header h3 {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}

.MainChannel header .MainChannelHeader__Body span {
    font-size: 12px;
}

.MainChannel header .MainChannelHeader__Tail {
    align-items: flex-end;
    color: lightgray;
    display: flex;
    flex-basis: 100%;
    gap: 10px;
}

.MainChannel header .MainChannelHeader__Tail__Subscribers,
.MainChannel header .MainChannelHeader__Tail__Videos {
    line-height: 1em;
}

.MainChannel header .MainChannelHeader__Tail__Subscribers > span,
.MainChannel header .MainChannelHeader__Tail__Videos > span {
    font-size: 11px;
}

.MainChannel header .MainChannelHeader__Tail__Subscribers > span:last-of-type,
.MainChannel header .MainChannelHeader__Tail__Videos > span:last-of-type {
    margin-left: 6px;
}

.MainChannel .MainChannel__Carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--app-area-padding);
    padding-right: var(--app-area-padding);
    overflow-x: auto;
    padding-bottom: var(--app-area-padding);
    padding-left: var(--app-area-padding);
    scrollbar-width: none;
    margin-top: -20px;
    padding-top: var(--app-area-padding);
}

@media only screen and (min-width: 768px) {
    .MainChannel {
        min-height: 300px;
    }

    .MainChannel header {
        flex-wrap: nowrap;
        gap: 20px;
        margin-left: var(--side-area-width);
    }

    .MainChannel header .MainChannelHeader__Head {
        flex-basis: 54px;
    }

    .MainChannel header h3 {
        font-size: 32px;
        line-height: 32px;
    }

    .MainChannel header .MainChannelHeader__Body span {
        font-size: 16px;
    }

    .MainChannel header .MainChannelHeader__Tail {
        color: white;
        flex-basis: auto;
        flex-direction: column;
    }

    .MainChannel
        header
        .MainChannelHeader__Tail__Subscribers
        > span:first-of-type,
    .MainChannel header .MainChannelHeader__Tail__Videos > span:first-of-type {
        font-size: 16px;
    }

    .MainChannel
        header
        .MainChannelHeader__Tail__Subscribers
        > span:last-of-type,
    .MainChannel header .MainChannelHeader__Tail__Videos > span:last-of-type {
        font-size: 24px;
        margin-left: 6px;
    }

    .MainChannel .MainChannel__Carousel {
        padding-left: var(--side-area-width);
    }
}
